<table style="width: 100%; height: 100%">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Side</th>
            <th>Price</th>
            <th>Size</th>
        </tr>
    </thead>
    {% for o in oo %}
    <tr>
        <td>{{ o['symbol'] }}</td>
        <td>{{ o['side'] }}</td>
        <td>{{ o['price'] }}</td>
        <td
        {% if o['side'] == 'buy' %}
        style="color: yellowgreen;"
        {% else %}
        style="color: red;"
        {% endif %}>{{ o['size'] }}</td>
    </tr>
    {% endfor %}
</table>